# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [30]:
margo_fav = 7

if (margo_fav%2 == 0):
    margo_fav *= 2
    print(margo_fav)
else:
    margo_fav = margo_fav * 3 + 11
    print(margo_fav)

32

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [11]:
my_list = list()

if (len(my_list) == 0):
    my_list.append(3)

print(my_list)

[3]

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [17]:
my_name = "Marharyta"

if 'a' in my_name or 'i' in my_name:
    print("A or I is in the name")
if 'o' in my_name and 'n' in my_name:
    print("O and N is in the name")
if 'o' in my_name and 'n' not in my_name:
    print("Only N is in the name")
else:
    print("There is no N in the name, but there might be O")

A or I is in the name
There is no N in the name, but there might be O

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [18]:
my_list2 = [x if x % 2 == 0 else 0 for x in range(10)]

print(my_list2)

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [22]:
my_dict = {x: "even" if x % 2 == 0 else "odd" for x in range(1, 11)}

print(my_dict)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}


Використовуємо, коли буде ефективніше використати  comprehensions замість циклів
Не використовуємо, коли код ускладнюється, над змінними треба виконувати складніші дії

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [25]:
list_with_strings = ["Margo", "Tanya", "Sveta", "Yaroslav", "Maria", "Danya", "Nastya", "Anton"]

list_answer = [srt[:3].upper() for srt in list_with_strings]

print(list_answer)

['MAR', 'TAN', 'SVE', 'YAR', 'MAR', 'DAN', 'NAS', 'ANT']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [29]:
counter = 10

while counter > 0:
    print(counter)
    counter -= 1

10
9
8
7
6
5
4
3
2
1

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [42]:
counter = 0

while (counter < 20):
    if counter%2 != 0:
        print(counter)
    counter += 1

1
3
5
7
9
11
13
15
17
19

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [43]:
list_bool = [True, True, False, False, None, None, False, True]

list_res = []

for index, value in enumerate(list_bool):
    list_res.append((index, value))

print(list_res)

[(0, True), (1, True), (2, False), (3, False), (4, None), (5, None), (6, False), (7, True)]

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [44]:
library = {
    "1984": 5,
    "To Kill a Mockingbird": 3,
    "Pride and Prejudice": 7,
    "The Great Gatsby": 4,
    "The Lord of the Rings": 9,
    "The Hobbit": 3,
    "Jane Eyre": 6,
    "The Adventures of Sherlock Holmes": 7,
    "Alice's Adventures in Wonderland": 5,
}

for book in library:
    library[book] += 5

print(library)

{'1984': 10, 'To Kill a Mockingbird': 8, 'Pride and Prejudice': 12, 'The Great Gatsby': 9, 'The Lord of the Rings': 14, 'The Hobbit': 8, 'Jane Eyre': 11, 'The Adventures of Sherlock Holmes': 12, "Alice's Adventures in Wonderland": 10}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [45]:
n = 9

for i in range(1, n + 1):
    print('#' * i)

#
##
###
####
#####
######
#######
########
#########

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [ ]:
import random

random_number = random.randint(1, 100)

print("Спробуйте вгадати число від 1 до 100.")

attempts = 0

while True:
    attempts += 1

    guess = int(input("Введіть вашу догадку: "))

    if guess < random_number:
        print("Більше")
    elif guess > random_number:
        print("Менше")
    else:
        print(f"Вітаємо! Ви вгадали число за {attempts} спроб!")
        break

Спробуйте вгадати число від 1 до 100.

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.